:root {
  --default-color: #333 !important;

  /*products*/
  --price-color: #666 !important;
  --title-color: #333 !important;
  --title-hover-color: #666 !important;

  /*button*/
  --scroll-to-top-bg-color: #333 !important;
  --scroll-to-top-hover-bg-color: #666 !important;

  /*borders*/
  --border-color: #ece9e9 !important;
}
