.melastore-navbar .visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.melastore-navbar .hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.melastore-navbar {
  background: white !important;
  padding: 20px;
  border-bottom: 1px solid var(--border-color);
}
.melastore-navbar .nav-links-list {
  display: table !important;
}
.melastore-navbar .nav-links-list li {
  display: table-cell !important;
  position: relative;
}
.melastore-navbar .navbar-nav .nav-link {
  border-bottom: 3px solid transparent;
  padding: 10px;
}
.melastore-navbar .navbar-nav .nav-link:hover {
  border-bottom: 3px solid #999;
}
.melastore-navbar .nav-links-list svg path {
  stroke-width: 13px !important;
  stroke: #333 !important;
}
.melastore-navbar .navbar-nav .nav-item {
  position: relative;
  padding-right: 35px;
}
.melastore-navbar .navbar-nav .nav-item:last-child {
  padding-right: 0;
}
.melastore-navbar .navbar-brand {
  color: #333;
}

/* (1366x768) WXGA Display */

@media screen and (min-width: 1366px) and (max-width: 1919px) {
}

@media (min-width: 1198px) and (max-width: 1365.9px) {
}

/* Normal desktop :992px. */

@media (min-width: 992px) and (max-width: 1197px) {
}

/* Normal desktop :991px. */

@media (min-width: 768px) and (max-width: 991px) {
  .melastore-navbar .navbar-nav .nav-item {
    padding-right: 25px;
  }
}

/* small mobile :576px. */

@media (min-width: 576px) and (max-width: 767px) {
}

/* extra small mobile 320px. */

@media (max-width: 575px) {
  .melastore-navbar .navbar-nav .nav-item {
    padding-right: 25px;
  }
}

/* Large Mobile :480px. */

@media only screen and (min-width: 480px) and (max-width: 575px) {
}

@media only screen and (max-width: 575px) and (min-width: 480px) {
}
