/* (1366x768) WXGA Display */

@media screen and (min-width: 1366px) and (max-width: 1919px) {
}

@media (min-width: 1198px) and (max-width: 1365.9px) {
}

/* Normal desktop :992px. */

@media (min-width: 992px) and (max-width: 1197px) {
}

/* Normal desktop :991px. */

@media (min-width: 768px) and (max-width: 991px) {
}

/* small mobile :576px. */

@media (min-width: 576px) and (max-width: 767px) {
  .no-padding-sm {
    padding: 0 !important;
    overflow-x: hidden !important;
  }
}

/* extra small mobile 320px. */

@media (max-width: 575px) {
  .no-padding-sm {
    padding: 0 !important;
    overflow-x: hidden !important;
  }
}

/* Large Mobile :480px. */

@media only screen and (min-width: 480px) and (max-width: 575px) {
  .no-padding-sm {
    padding: 0 !important;
    overflow-x: hidden !important;
  }
}

@media only screen and (max-width: 575px) and (min-width: 480px) {
  .no-padding-sm {
    padding: 0 !important;
    overflow-x: hidden !important;
  }
}
